@use '../../../scss/mixins' as *;

.first-two-layers > .algorithms {
  display: grid;
  gap: 2.5rem;

  .intro {
    margin-top: 0;
  }

  .algorithm {
    .case {
      display: flex;
      align-items: center;
      margin-bottom: -2.5rem;
      gap: 0.75rem;

      .cube-svg {
        width: 9rem;
      }

      p {
        line-height: 1.3;
        padding-bottom: 1.5rem;
      }

      @media screen and (min-width: 33rem) {
        margin-bottom: -4rem;

        .cube-svg {
          width: 11rem;
        }
      }
    }

    .movement {
      position: relative;

      p {
        position: absolute;
        font-size: 1.3rem;
        font-weight: 600;

        left: 0.75rem;
        line-height: 1;

        margin-top: -0.5rem;
      }
    }

    .illustration {
      padding: 6.25rem 2.5rem 5.25rem 2.5rem;
    }
  }
}

// Case one
.first-two-layers {
  .cube-svg.case-one {
    @include simpleCubeColor(var(--tracking), var(--tracking), var(--tracking));

    @include colorSepcificCube('top', 'left-corner', var(--blue), var(--blue), var(--blue));
    @include colorSepcificCube('top', 'front-left', var(--blue), var(--blue), var(--blue));

    @include colorSepcificCube('middle', 'front-corner', var(--red), var(--red), var(--red));
    @include colorSepcificCube('bottom', 'front-corner', var(--red), var(--red), var(--red));
  }

  .illustration.case-one.track-pieces {
    .r {
      @include colorSepcificCube('top', 'left-corner', var(--blue), var(--blue), var(--blue));
      @include colorSepcificCube('top', 'front-left', var(--blue), var(--blue), var(--blue));

      @include colorSepcificCube('top', 'front-right', var(--red), var(--red), var(--red));
      @include colorSepcificCube('top', 'front-corner', var(--red), var(--red), var(--red));
    }

    .u-prime {
      @include colorSepcificCube('top', 'front-right', var(--blue), var(--blue), var(--blue));
      @include colorSepcificCube('top', 'front-corner', var(--blue), var(--blue), var(--blue));

      @include colorSepcificCube('top', 'back-right', var(--red), var(--red), var(--red));
      @include colorSepcificCube('top', 'right-corner', var(--red), var(--red), var(--red));
    }

    .r-prime {
      @include colorSepcificCube('top', 'front-corner', var(--red), var(--red), var(--red));
      @include colorSepcificCube('top', 'back-right', var(--red), var(--red), var(--red));

      @include colorSepcificCube('middle', 'front-corner', var(--blue), var(--blue), var(--blue));
      @include colorSepcificCube('bottom', 'front-corner', var(--blue), var(--blue), var(--blue));
    }
  }
}

// Case two
.first-two-layers {
  .cube-svg.case-two {
    @include simpleCubeColor(var(--tracking), var(--tracking), var(--tracking));

    @include colorSepcificCube('top', 'front-corner', var(--blue), var(--blue), var(--blue));
    @include colorSepcificCube('top', 'front-left', var(--blue), var(--blue), var(--blue));

    @include colorSepcificCube('middle', 'left-corner', var(--red), var(--red), var(--red));
    @include colorSepcificCube('bottom', 'left-corner', var(--red), var(--red), var(--red));
  }

  .illustration.case-two.track-pieces {
    .l-prime {
      @include colorSepcificCube('top', 'front-corner', var(--blue), var(--blue), var(--blue));
      @include colorSepcificCube('top', 'front-left', var(--blue), var(--blue), var(--blue));

      @include colorSepcificCube('top', 'left-corner', var(--red), var(--red), var(--red));
      @include colorSepcificCube('top', 'back-left', var(--red), var(--red), var(--red));
    }

    .u {
      @include colorSepcificCube('top', 'back-corner', var(--red), var(--red), var(--red));
      @include colorSepcificCube('top', 'back-right', var(--red), var(--red), var(--red));

      @include colorSepcificCube('top', 'left-corner', var(--blue), var(--blue), var(--blue));
      @include colorSepcificCube('top', 'back-left', var(--blue), var(--blue), var(--blue));
    }

    .l {
      @include colorSepcificCube('top', 'left-corner', var(--red), var(--red), var(--red));
      @include colorSepcificCube('top', 'back-right', var(--red), var(--red), var(--red));

      @include colorSepcificCube('middle', 'left-corner', var(--blue), var(--blue), var(--blue));
      @include colorSepcificCube('bottom', 'left-corner', var(--blue), var(--blue), var(--blue));
    }
  }
}

// Case three
.first-two-layers {
  .cube-svg.case-three {
    @include simpleCubeColor(var(--tracking), var(--tracking), var(--tracking));

    @include colorSepcificCube('top', 'front-corner', var(--blue), var(--blue), var(--blue));
    @include colorSepcificCube('top', 'back-right', var(--green), var(--green), var(--green));

    @include colorSepcificCube('middle', 'front-corner', var(--red), var(--red), var(--red));
    @include colorSepcificCube('bottom', 'front-corner', var(--red), var(--red), var(--red));
  }

  .illustration.case-three.track-pieces {
    .r {
      @include colorSepcificCube('top', 'right-corner', var(--blue), var(--blue), var(--blue));
      @include colorSepcificCube('top', 'back-right', var(--green), var(--green), var(--green));

      @include colorSepcificCube('top', 'front-right', var(--red), var(--red), var(--red));
      @include colorSepcificCube('top', 'front-corner', var(--red), var(--red), var(--red));
    }

    .u {
      @include colorSepcificCube('top', 'front-corner', var(--blue), var(--blue), var(--blue));
      @include colorSepcificCube('top', 'front-right', var(--green), var(--green), var(--green));

      @include colorSepcificCube('top', 'front-left', var(--red), var(--red), var(--red));
      @include colorSepcificCube('top', 'left-corner', var(--red), var(--red), var(--red));
    }

    .r-prime {
      @include colorSepcificCube('bottom', 'front-corner', var(--blue), var(--blue), var(--blue));
      @include colorSepcificCube('middle', 'front-corner', var(--green), var(--green), var(--green));

      @include colorSepcificCube('top', 'front-left', var(--red), var(--red), var(--red));
      @include colorSepcificCube('top', 'left-corner', var(--red), var(--red), var(--red));
    }
  }
}

// Case three
.first-two-layers {
  .cube-svg.case-four {
    @include simpleCubeColor(var(--tracking), var(--tracking), var(--tracking));

    @include colorSepcificCube('top', 'left-corner', var(--blue), var(--blue), var(--blue));
    @include colorSepcificCube('top', 'back-right', var(--green), var(--green), var(--green));

    @include colorSepcificCube('middle', 'left-corner', var(--red), var(--red), var(--red));
    @include colorSepcificCube('bottom', 'left-corner', var(--red), var(--red), var(--red));
  }

  .illustration.case-four.track-pieces {
    .l-prime {
      @include colorSepcificCube('top', 'back-corner', var(--blue), var(--blue), var(--blue));
      @include colorSepcificCube('top', 'back-right', var(--green), var(--green), var(--green));

      @include colorSepcificCube('top', 'back-left', var(--red), var(--red), var(--red));
      @include colorSepcificCube('top', 'left-corner', var(--red), var(--red), var(--red));
    }

    .u-prime {
      @include colorSepcificCube('top', 'left-corner', var(--blue), var(--blue), var(--blue));
      @include colorSepcificCube('top', 'back-left', var(--green), var(--green), var(--green));

      @include colorSepcificCube('top', 'front-left', var(--red), var(--red), var(--red));
      @include colorSepcificCube('top', 'front-corner', var(--red), var(--red), var(--red));
    }

    .l {
      @include colorSepcificCube('bottom', 'left-corner', var(--blue), var(--blue), var(--blue));
      @include colorSepcificCube('middle', 'left-corner', var(--green), var(--green), var(--green));

      @include colorSepcificCube('top', 'front-left', var(--red), var(--red), var(--red));
      @include colorSepcificCube('top', 'front-corner', var(--red), var(--red), var(--red));
    }
  }
}
