@use '../scss/mixins' as *;

.oll {
  .title::after {
    content: '3';
  }

  .question {
    opacity: 0.7;
  }
}

.one-corner,
.two-corners,
.no-corners {
  h5 {
    font-size: 1rem;
    font-weight: 600;
  }
}

.cross > .intro-mini {
  .dot,
  .line,
  .l-shape {
    @include colorSepcificCube(
      'top',
      'center',
      var(--yellow),
      var(--yellow),
      var(--yellow)
    );
  }

  .line {
    @include colorSepcificCube(
      'top',
      'back-left',
      var(--yellow),
      var(--yellow),
      var(--yellow)
    );

    @include colorSepcificCube(
      'top',
      'front-right',
      var(--gray),
      var(--gray),
      var(--yellow),
      var(--gray)
    );
  }

  .l-shape {
    @include colorSepcificCube(
      'top',
      'front-left',
      var(--gray),
      var(--gray),
      var(--yellow),
      var(--gray)
    );

    @include colorSepcificCube(
      'top',
      'front-right',
      var(--gray),
      var(--gray),
      var(--yellow),
      var(--gray)
    );
  }
}

.cross .slide-container {
  .slide-description {
    display: none;
  }
}

.cross > .slide-container > .slide .case-line {
  .f.track-pieces {
    @include colorSepcificCube(
      'top',
      'front-right',
      var(--tracking),
      var(--tracking),
      var(--yellow),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'center',
      var(--tracking),
      var(--tracking),
      var(--yellow),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'back-left',
      var(--tracking),
      var(--tracking),
      var(--yellow),
      var(--tracking)
    );
  }

  .r.track-pieces {
    @include colorSepcificCube(
      'top',
      'center',
      var(--tracking),
      var(--tracking),
      var(--yellow),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'back-left',
      var(--tracking),
      var(--tracking),
      var(--yellow),
      var(--tracking)
    );
  }

  .u.track-pieces {
    @include colorSepcificCube(
      'top',
      'center',
      var(--tracking),
      var(--tracking),
      var(--yellow),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'back-right',
      var(--tracking),
      var(--tracking),
      var(--yellow),
      var(--tracking)
    );
  }

  .r-prime.track-pieces {
    @include colorSepcificCube(
      'top',
      'center',
      var(--tracking),
      var(--tracking),
      var(--yellow),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'back-right',
      var(--tracking),
      var(--tracking),
      var(--yellow),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'front-right',
      var(--tracking),
      var(--tracking),
      var(--yellow),
      var(--tracking)
    );
  }

  .u-prime.track-pieces {
    @include colorSepcificCube(
      'top',
      'center',
      var(--tracking),
      var(--tracking),
      var(--yellow),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'back-left',
      var(--tracking),
      var(--tracking),
      var(--yellow),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'back-right',
      var(--tracking),
      var(--tracking),
      var(--yellow),
      var(--tracking)
    );
  }
}

.cross > .slide-container > .slide .case-l {
  .f.track-pieces {
    @include colorSepcificCube(
      'middle',
      'front-right',
      var(--tracking),
      var(--yellow),
      var(--tracking),
      var(--tracking)
    );

    @include colorSepcificCube(
      'middle',
      'front-corner',
      var(--tracking),
      var(--yellow),
      var(--tracking),
      var(--tracking)
    );

    @include colorSepcificCube(
      'bottom',
      'front-right',
      var(--tracking),
      var(--yellow),
      var(--tracking),
      var(--tracking)
    );
  }

  .r.track-pieces {
    @include colorSepcificCube(
      'middle',
      'front-right',
      var(--tracking),
      var(--yellow),
      var(--tracking),
      var(--tracking)
    );

    @include colorSepcificCube(
      'middle',
      'front-corner',
      var(--tracking),
      var(--yellow),
      var(--tracking),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'front-right',
      var(--tracking),
      var(--yellow),
      var(--tracking),
      var(--tracking)
    );
  }

  .u.track-pieces {
    @include colorSepcificCube(
      'middle',
      'front-right',
      var(--tracking),
      var(--yellow),
      var(--tracking),
      var(--tracking)
    );

    @include colorSepcificCube(
      'middle',
      'front-corner',
      var(--tracking),
      var(--yellow),
      var(--tracking),
      var(--tracking)
    );
  }

  .u.track-pieces,
  .r-prime.track-pieces {
    @include colorSepcificCube(
      'top',
      'front-left',
      var(--yellow),
      var(--tracking),
      var(--tracking),
      var(--tracking)
    );
  }

  .r-prime.track-pieces {
    @include colorSepcificCube(
      'middle',
      'front-right',
      var(--tracking),
      var(--yellow),
      var(--tracking),
      var(--tracking)
    );

    @include colorSepcificCube(
      'bottom',
      'front-right',
      var(--tracking),
      var(--yellow),
      var(--tracking),
      var(--tracking)
    );
  }

  .u-prime.track-pieces {
    @include colorSepcificCube(
      'middle',
      'front-right',
      var(--tracking),
      var(--yellow),
      var(--tracking),
      var(--tracking)
    );

    @include colorSepcificCube(
      'bottom',
      'front-right',
      var(--tracking),
      var(--yellow),
      var(--tracking),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'front-right',
      var(--tracking),
      var(--yellow),
      var(--tracking),
      var(--tracking)
    );
  }

  .f-prime.track-pieces {
    @include colorSepcificCube(
      'top',
      'center',
      var(--tracking),
      var(--tracking),
      var(--yellow),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'front-right',
      var(--tracking),
      var(--tracking),
      var(--yellow),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'back-left',
      var(--tracking),
      var(--tracking),
      var(--yellow),
      var(--tracking)
    );
  }
}

.pick-corners {
  .movement {
    transition: opacity 0.25s ease;

    &.selected-false {
      opacity: 0.4;
    }

    &:hover,
    &:active,
    &:focus-visible {
      opacity: 1;
    }
  }

  .cube-svg {
    cursor: pointer;

    @include colorSepcificCube(
      'top',
      'center',
      var(--yellow),
      var(--yellow),
      var(--yellow)
    );

    @include colorSepcificCube(
      'top',
      'front-left',
      var(--gray),
      var(--gray),
      var(--yellow),
      var(--gray)
    );
    @include colorSepcificCube(
      'top',
      'front-right',
      var(--gray),
      var(--gray),
      var(--yellow),
      var(--gray)
    );
    @include colorSepcificCube(
      'top',
      'back-left',
      var(--yellow),
      var(--yellow),
      var(--yellow)
    );
    @include colorSepcificCube(
      'top',
      'back-right',
      var(--yellow),
      var(--yellow),
      var(--yellow)
    );
  }

  .cube-svg.one,
  .cube-svg.two {
    @include colorSepcificCube(
      'top',
      'left-corner',
      var(--gray),
      var(--gray),
      var(--yellow),
      var(--gray)
    );
  }

  .cube-svg.two {
    @include colorSepcificCube(
      'top',
      'right-corner',
      var(--gray),
      var(--gray),
      var(--yellow),
      var(--gray)
    );
  }
}

// Intro Cube
.oll > .intro {
  .illustration {
    .cube-svg {
      &.first,
      &.second,
      &.third {
        @include simpleCubeColor(var(--red), var(--blue), var(--yellow));
      }
    }

    .cube-svg,
    .cube-svg.dark-true {
      &.first,
      &.second,
      &.third {
        @include colorSepcificCube(
          'top',
          'front-left',
          var(--black),
          var(--black),
          var(--black)
        );
        @include colorSepcificCube(
          'top',
          'front-right',
          var(--black),
          var(--black),
          var(--black)
        );
        @include colorSepcificCube(
          'top',
          'back-left',
          var(--black),
          var(--black),
          var(--black)
        );
        @include colorSepcificCube(
          'top',
          'back-right',
          var(--black),
          var(--black),
          var(--black)
        );
        @include colorSepcificCube(
          'top',
          'left-corner',
          var(--black),
          var(--black),
          var(--black)
        );
        @include colorSepcificCube(
          'top',
          'right-corner',
          var(--black),
          var(--black),
          var(--black)
        );
        @include colorSepcificCube(
          'top',
          'front-corner',
          var(--black),
          var(--black),
          var(--black)
        );
        @include colorSepcificCube(
          'top',
          'back-corner',
          var(--black),
          var(--black),
          var(--black)
        );
      }

      &.second,
      &.third {
        @include colorSepcificCube(
          'top',
          'back-left',
          var(--yellow),
          var(--yellow),
          var(--yellow)
        );
        @include colorSepcificCube(
          'top',
          'back-right',
          var(--yellow),
          var(--yellow),
          var(--yellow)
        );

        @include colorSepcificCube(
          'top',
          'front-right',
          var(--yellow),
          var(--black),
          var(--yellow),
          var(--black)
        );

        @include colorSepcificCube(
          'top',
          'front-left',
          var(--black),
          var(--yellow),
          var(--yellow),
          var(--black)
        );
      }

      &.third {
        @include colorSepcificCube(
          'top',
          'back-corner',
          var(--yellow),
          var(--yellow),
          var(--yellow)
        );

        @include colorSepcificCube(
          'top',
          'front-corner',
          var(--black),
          var(--black),
          var(--yellow),
          var(--black)
        );

        @include colorSepcificCube(
          'top',
          'left-corner',
          var(--black),
          var(--black),
          var(--yellow),
          var(--black)
        );

        @include colorSepcificCube(
          'top',
          'right-corner',
          var(--black),
          var(--black),
          var(--yellow),
          var(--black)
        );
      }
    }

    .cube-svg.dark-true {
      &.first,
      &.second,
      &.third {
        @include colorSepcificCube(
          'top',
          'front-left',
          var(--gray),
          var(--gray),
          var(--gray)
        );
        @include colorSepcificCube(
          'top',
          'front-right',
          var(--gray),
          var(--gray),
          var(--gray)
        );
        @include colorSepcificCube(
          'top',
          'back-left',
          var(--gray),
          var(--gray),
          var(--gray)
        );
        @include colorSepcificCube(
          'top',
          'back-right',
          var(--gray),
          var(--gray),
          var(--gray)
        );
        @include colorSepcificCube(
          'top',
          'left-corner',
          var(--gray),
          var(--gray),
          var(--gray)
        );
        @include colorSepcificCube(
          'top',
          'right-corner',
          var(--gray),
          var(--gray),
          var(--gray)
        );
        @include colorSepcificCube(
          'top',
          'front-corner',
          var(--gray),
          var(--gray),
          var(--gray)
        );
        @include colorSepcificCube(
          'top',
          'back-corner',
          var(--gray),
          var(--gray),
          var(--gray)
        );
      }

      &.second,
      &.third {
        @include colorSepcificCube(
          'top',
          'front-right',
          var(--yellow),
          var(--gray),
          var(--yellow),
          var(--gray)
        );

        @include colorSepcificCube(
          'top',
          'front-left',
          var(--gray),
          var(--yellow),
          var(--yellow),
          var(--gray)
        );

        @include colorSepcificCube(
          'top',
          'back-right',
          var(--yellow),
          var(--gray),
          var(--yellow),
          var(--gray)
        );

        @include colorSepcificCube(
          'top',
          'back-left',
          var(--gray),
          var(--yellow),
          var(--yellow),
          var(--gray)
        );
      }

      &.third {
        @include colorSepcificCube(
          'top',
          'back-corner',
          var(--yellow),
          var(--yellow),
          var(--yellow)
        );

        @include colorSepcificCube(
          'top',
          'front-corner',
          var(--gray),
          var(--gray),
          var(--yellow),
          var(--gray)
        );

        @include colorSepcificCube(
          'top',
          'left-corner',
          var(--gray),
          var(--gray),
          var(--yellow),
          var(--gray)
        );

        @include colorSepcificCube(
          'top',
          'right-corner',
          var(--gray),
          var(--gray),
          var(--yellow),
          var(--gray)
        );
      }
    }
  }
}
