@use '../scss/mixins' as *;

.pll {
  .title::after {
    content: '4';
  }
}

// Intro Cube
.pll > .intro {
  .illustration {
    .cube-svg {
      &.first,
      &.second,
      &.third {
        @include simpleCubeColor(var(--red), var(--blue), var(--yellow));
      }
    }

    .cube-svg,
    .cube-svg.dark-true {
      &.first,
      &.second,
      &.third {
        @include colorSepcificCube(
          'top',
          'back-left',
          var(--yellow),
          var(--yellow),
          var(--yellow)
        );
        @include colorSepcificCube(
          'top',
          'back-right',
          var(--yellow),
          var(--yellow),
          var(--yellow)
        );

        @include colorSepcificCube(
          'top',
          'front-right',
          var(--yellow),
          var(--black),
          var(--yellow),
          var(--black)
        );

        @include colorSepcificCube(
          'top',
          'front-left',
          var(--black),
          var(--yellow),
          var(--yellow),
          var(--black)
        );

        @include colorSepcificCube(
          'top',
          'back-corner',
          var(--yellow),
          var(--yellow),
          var(--yellow)
        );

        @include colorSepcificCube(
          'top',
          'front-corner',
          var(--black),
          var(--black),
          var(--yellow),
          var(--black)
        );

        @include colorSepcificCube(
          'top',
          'left-corner',
          var(--black),
          var(--black),
          var(--yellow),
          var(--black)
        );

        @include colorSepcificCube(
          'top',
          'right-corner',
          var(--black),
          var(--black),
          var(--yellow),
          var(--black)
        );
      }
    }

    .cube-svg.dark-true {
      &.first,
      &.second,
      &.third {
        @include colorSepcificCube(
          'top',
          'front-corner',
          var(--gray),
          var(--gray),
          var(--yellow),
          var(--gray)
        );

        @include colorSepcificCube(
          'top',
          'left-corner',
          var(--gray),
          var(--gray),
          var(--yellow),
          var(--gray)
        );

        @include colorSepcificCube(
          'top',
          'right-corner',
          var(--gray),
          var(--gray),
          var(--yellow),
          var(--gray)
        );

        @include colorSepcificCube(
          'top',
          'front-left',
          var(--gray),
          var(--gray),
          var(--yellow),
          var(--gray)
        );

        @include colorSepcificCube(
          'top',
          'front-right',
          var(--gray),
          var(--gray),
          var(--yellow),
          var(--gray)
        );
      }
    }

    .cube-svg,
    .cube-svg.dark-true {
      &.second,
      &.third {
        @include colorSepcificCube(
          'top',
          'right-corner',
          var(--red),
          var(--blue),
          var(--yellow)
        );
        @include colorSepcificCube(
          'top',
          'left-corner',
          var(--red),
          var(--blue),
          var(--yellow)
        );
        @include colorSepcificCube(
          'top',
          'front-corner',
          var(--red),
          var(--blue),
          var(--yellow)
        );
      }

      &.third {
        @include simpleCubeColor(var(--red), var(--blue), var(--yellow));
      }
    }
  }
}

.pll > .corners {
  .no-corners {
    @include colorSepcificCube(
      'top',
      'left-corner',
      var(--green),
      var(--green),
      var(--gray)
    );

    @include colorSepcificCube(
      'top',
      'front-corner',
      var(--blue),
      var(--red),
      var(--gray)
    );

    @include colorSepcificCube(
      'top',
      'right-corner',
      var(--orange),
      var(--orange),
      var(--gray)
    );
  }

  .one-corner-pair {
    @include colorSepcificCube(
      'top',
      'left-corner',
      var(--orange),
      var(--orange),
      var(--gray)
    );

    @include colorSepcificCube(
      'top',
      'front-corner',
      var(--orange),
      var(--blue),
      var(--gray)
    );

    @include colorSepcificCube(
      'top',
      'right-corner',
      var(--red),
      var(--red),
      var(--gray)
    );
  }

  .illustration {
    height: 100%;
    place-content: center;
  }

  .repeat-group {
    max-width: 75rem;
  }
}

.pll > .corners .case-no-corners {
  .part-one {
    .f.track-pieces {
      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--green),
        var(--tracking),
        var(--red),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'front-corner',
        var(--blue),
        var(--tracking),
        var(--tracking)
      );
    }

    .r.first.track-pieces {
      @include colorSepcificCube(
        'bottom',
        'right-corner',
        var(--tracking),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--tracking),
        var(--green),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--red),
        var(--tracking),
        var(--blue),
        var(--tracking)
      );
    }

    .u-prime.first.track-pieces {
      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--red),
        var(--blue),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'back-corner',
        var(--tracking),
        var(--tracking),
        var(--green)
      );

      @include colorSepcificCube(
        'bottom',
        'right-corner',
        var(--tracking),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'left-corner',
        var(--orange),
        var(--tracking),
        var(--tracking)
      );
    }

    .r-prime.first.track-pieces {
      @include colorSepcificCube(
        'top',
        'back-corner',
        var(--tracking),
        var(--tracking),
        var(--green)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--blue),
        var(--red),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'left-corner',
        var(--orange),
        var(--tracking),
        var(--tracking)
      );
    }

    .u-prime.second.track-pieces {
      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--blue),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'left-corner',
        var(--red),
        var(--tracking),
        var(--green),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--green),
        var(--orange),
        var(--tracking),
        var(--tracking)
      );
    }

    .r.second.track-pieces {
      @include colorSepcificCube(
        'bottom',
        'right-corner',
        var(--tracking),
        var(--blue),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'left-corner',
        var(--red),
        var(--tracking),
        var(--green),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--orange),
        var(--green),
        var(--tracking)
      );
    }

    .u.track-pieces {
      @include colorSepcificCube(
        'top',
        'back-corner',
        var(--tracking),
        var(--tracking),
        var(--green)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'right-corner',
        var(--tracking),
        var(--blue),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--orange),
        var(--tracking),
        var(--green),
        var(--tracking)
      );
    }

    .r-prime.second.track-pieces {
      @include colorSepcificCube(
        'top',
        'back-corner',
        var(--tracking),
        var(--tracking),
        var(--green)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--blue),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--tracking),
        var(--orange),
        var(--blue),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'front-corner',
        var(--green),
        var(--tracking),
        var(--tracking),
        var(--tracking)
      );
    }

    .f-prime.track-pieces {
      @include colorSepcificCube(
        'top',
        'back-corner',
        var(--tracking),
        var(--tracking),
        var(--green)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--blue),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'left-corner',
        var(--tracking),
        var(--tracking),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--green),
        var(--orange),
        var(--tracking),
        var(--tracking)
      );
    }
  }

  .part-two {
    .r.first.track-pieces {
      @include colorSepcificCube(
        'top',
        'back-corner',
        var(--tracking),
        var(--tracking),
        var(--green)
      );

      @include colorSepcificCube(
        'bottom',
        'right-corner',
        var(--tracking),
        var(--blue),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'left-corner',
        var(--tracking),
        var(--tracking),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--orange),
        var(--green),
        var(--tracking)
      );
    }

    .u.track-pieces {
      @include colorSepcificCube(
        'bottom',
        'right-corner',
        var(--tracking),
        var(--blue),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'back-corner',
        var(--tracking),
        var(--tracking),
        var(--orange)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--tracking),
        var(--green),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--orange),
        var(--tracking),
        var(--green),
        var(--tracking)
      );
    }

    .r-prime.first.track-pieces {
      @include colorSepcificCube(
        'top',
        'back-corner',
        var(--tracking),
        var(--tracking),
        var(--orange)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--blue),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--green),
        var(--tracking),
        var(--red),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'front-corner',
        var(--green),
        var(--tracking),
        var(--tracking),
        var(--tracking)
      );
    }

    .u-prime.track-pieces {
      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--green),
        var(--red),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'left-corner',
        var(--tracking),
        var(--tracking),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'front-corner',
        var(--green),
        var(--tracking),
        var(--tracking),
        var(--tracking)
      );
    }

    .r-prime.second.track-pieces {
      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--red),
        var(--green),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'left-corner',
        var(--tracking),
        var(--tracking),
        var(--orange),
        var(--tracking)
      );
    }

    .f.track-pieces {
      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--tracking),
        var(--orange),
        var(--blue),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'front-corner',
        var(--red),
        var(--tracking),
        var(--tracking)
      );
    }

    .r.second.track-pieces {
      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--green),
        var(--tracking),
        var(--red),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'front-corner',
        var(--green),
        var(--tracking),
        var(--tracking)
      );
    }

    .f-prime.track-pieces {
      @include colorSepcificCube(
        'top',
        'left-corner',
        var(--green),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--green),
        var(--orange),
        var(--tracking)
      );
    }
  }
}

.pll > .corners .case-one-corner-pair {
  .part-one {
    .r.track-pieces {
      @include colorSepcificCube(
        'top',
        'left-corner',
        var(--blue),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--green),
        var(--red),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'right-corner',
        var(--tracking),
        var(--blue),
        var(--tracking),
        var(--tracking)
      );
    }

    .u.track-pieces {
      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--green),
        var(--tracking),
        var(--red),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--green),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'right-corner',
        var(--tracking),
        var(--blue),
        var(--tracking),
        var(--tracking)
      );
    }

    .r-prime.first {
      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--tracking),
        var(--green),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'front-corner',
        var(--red),
        var(--tracking),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--blue),
        var(--tracking)
      );
    }

    .u-prime.track-pieces {
      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--tracking),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'left-corner',
        var(--blue),
        var(--tracking),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'front-corner',
        var(--red),
        var(--tracking),
        var(--tracking),
        var(--tracking)
      );
    }

    .r-prime.second.track-pieces {
      @include colorSepcificCube(
        'top',
        'left-corner',
        var(--blue),
        var(--tracking),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--orange),
        var(--tracking),
        var(--green),
        var(--tracking)
      );
    }

    .f.track-pieces {
      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--blue),
        var(--tracking),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'front-corner',
        var(--orange),
        var(--green),
        var(--tracking),
        var(--tracking)
      );
    }
  }

  .part-two {
    .r.first.track-pieces {
      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--green),
        var(--tracking),
        var(--red),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--green),
        var(--tracking)
      );
    }

    .u-prime.first.track-pieces {
      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--green),
        var(--red),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'left-corner',
        var(--red),
        var(--tracking),
        var(--tracking)
      );
    }

    .r-prime.first.track-pieces {
      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--tracking),
        var(--blue),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--red),
        var(--green),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'left-corner',
        var(--red),
        var(--tracking),
        var(--tracking)
      );
    }

    .u-prime.second.track-pieces {
      @include colorSepcificCube(
        'top',
        'left-corner',
        var(--orange),
        var(--tracking),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--red),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'back-corner',
        var(--tracking),
        var(--tracking),
        var(--blue),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--blue),
        var(--red),
        var(--tracking)
      );
    }

    .r.second.track-pieces {
      @include colorSepcificCube(
        'bottom',
        'right-corner',
        var(--tracking),
        var(--red),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'back-corner',
        var(--tracking),
        var(--tracking),
        var(--blue),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'left-corner',
        var(--orange),
        var(--tracking),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--red),
        var(--blue),
        var(--tracking)
      );
    }

    .u.track-pieces {
      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--tracking),
        var(--blue),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'right-corner',
        var(--tracking),
        var(--red),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--red),
        var(--tracking),
        var(--blue),
        var(--tracking)
      );
    }

    .r-prime.second.track-pieces {
      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--red),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--blue),
        var(--tracking),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'front-corner',
        var(--blue),
        var(--tracking),
        var(--tracking)
      );
    }

    .f-prime.track-pieces {
      @include colorSepcificCube(
        'top',
        'left-corner',
        var(--blue),
        var(--tracking),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'right-corner',
        var(--tracking),
        var(--red),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-corner',
        var(--blue),
        var(--red),
        var(--tracking)
      );
    }
  }
}

.pll .pick-edges {
  .movement {
    transition: opacity 0.25s ease;

    &.selected-false {
      opacity: 0.4;
    }
  }
}

.pll > .edges .pick-edges .one {
  @include colorSepcificCube('top', 'front-left', var(--blue), var(--gray), var(--gray));
}

.pll > .edges .cycle-to-left {
  .case-initial {
    @include colorSepcificCube(
      'top',
      'front-left',
      var(--red),
      var(--tracking),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'front-right',
      var(--tracking),
      var(--orange),
      var(--tracking)
    );
  }

  .r.first.track-pieces {
    @include colorSepcificCube(
      'top',
      'front-left',
      var(--red),
      var(--tracking),
      var(--tracking)
    );

    @include colorSepcificCube(
      'middle',
      'right-corner',
      var(--tracking),
      var(--orange),
      var(--tracking)
    );
  }

  .u-prime.first.track-pieces {
    @include colorSepcificCube(
      'top',
      'front-left',
      var(--blue),
      var(--tracking),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'front-right',
      var(--tracking),
      var(--red),
      var(--tracking)
    );

    @include colorSepcificCube(
      'middle',
      'right-corner',
      var(--tracking),
      var(--orange),
      var(--tracking)
    );
  }

  .r.second.track-pieces {
    @include colorSepcificCube(
      'top',
      'front-left',
      var(--blue),
      var(--tracking),
      var(--tracking)
    );

    @include colorSepcificCube(
      'middle',
      'right-corner',
      var(--tracking),
      var(--red),
      var(--tracking)
    );

    @include colorSepcificCube(
      'bottom',
      'front-right',
      var(--tracking),
      var(--orange),
      var(--tracking)
    );
  }

  .u.first.track-pieces {
    @include colorSepcificCube(
      'middle',
      'right-corner',
      var(--tracking),
      var(--red),
      var(--tracking)
    );

    @include colorSepcificCube(
      'bottom',
      'front-right',
      var(--tracking),
      var(--orange),
      var(--tracking)
    );
  }

  .r.third.track-pieces {
    @include colorSepcificCube(
      'middle',
      'front-corner',
      var(--tracking),
      var(--orange),
      var(--tracking)
    );

    @include colorSepcificCube(
      'bottom',
      'front-right',
      var(--tracking),
      var(--red),
      var(--tracking)
    );
  }

  .u.second.track-pieces {
    @include colorSepcificCube(
      'middle',
      'front-corner',
      var(--tracking),
      var(--orange),
      var(--tracking)
    );

    @include colorSepcificCube(
      'bottom',
      'front-right',
      var(--tracking),
      var(--red),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'front-right',
      var(--tracking),
      var(--green),
      var(--tracking)
    );
  }

  .r.fourth.track-pieces {
    @include colorSepcificCube(
      'middle',
      'front-corner',
      var(--tracking),
      var(--red),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'front-right',
      var(--tracking),
      var(--orange),
      var(--tracking)
    );

    @include colorSepcificCube(
      'middle',
      'right-corner',
      var(--tracking),
      var(--green),
      var(--tracking)
    );
  }

  .u-prime.second.track-pieces {
    @include colorSepcificCube(
      'middle',
      'front-corner',
      var(--tracking),
      var(--red),
      var(--tracking)
    );

    @include colorSepcificCube(
      'middle',
      'right-corner',
      var(--tracking),
      var(--green),
      var(--tracking)
    );
  }

  .r-prime.track-pieces {
    @include colorSepcificCube(
      'bottom',
      'front-right',
      var(--tracking),
      var(--red),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'front-right',
      var(--tracking),
      var(--green),
      var(--tracking)
    );
  }

  .u-prime.third.track-pieces {
    @include colorSepcificCube(
      'top',
      'front-left',
      var(--blue),
      var(--tracking),
      var(--tracking)
    );

    @include colorSepcificCube(
      'bottom',
      'front-right',
      var(--tracking),
      var(--red),
      var(--tracking)
    );
  }

  .r.fifth.track-pieces {
    @include colorSepcificCube(
      'top',
      'front-left',
      var(--blue),
      var(--tracking),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'front-right',
      var(--tracking),
      var(--red),
      var(--tracking)
    );
  }
}

.pll > .edges .cycle-to-right {
  .case-initial {
    @include colorSepcificCube(
      'top',
      'front-left',
      var(--orange),
      var(--tracking),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'front-right',
      var(--tracking),
      var(--blue),
      var(--tracking)
    );
  }

  .r.first.track-pieces {
    @include colorSepcificCube(
      'top',
      'front-left',
      var(--orange),
      var(--tracking),
      var(--tracking)
    );

    @include colorSepcificCube(
      'bottom',
      'front-right',
      var(--tracking),
      var(--blue),
      var(--tracking)
    );
  }

  .u.first.track-pieces {
    @include colorSepcificCube(
      'top',
      'front-right',
      var(--tracking),
      var(--green),
      var(--tracking)
    );

    @include colorSepcificCube(
      'bottom',
      'front-right',
      var(--tracking),
      var(--blue),
      var(--tracking)
    );
  }

  .r.second.track-pieces {
    @include colorSepcificCube(
      'middle',
      'right-corner',
      var(--tracking),
      var(--green),
      var(--tracking)
    );

    @include colorSepcificCube(
      'middle',
      'front-corner',
      var(--tracking),
      var(--blue),
      var(--tracking)
    );
  }

  .u.second.track-pieces {
    @include colorSepcificCube(
      'middle',
      'right-corner',
      var(--tracking),
      var(--green),
      var(--tracking)
    );

    @include colorSepcificCube(
      'middle',
      'front-corner',
      var(--tracking),
      var(--blue),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'front-right',
      var(--tracking),
      var(--red),
      var(--tracking)
    );
  }

  .r-prime.first.track-pieces {
    @include colorSepcificCube(
      'bottom',
      'front-right',
      var(--tracking),
      var(--blue),
      var(--tracking)
    );

    @include colorSepcificCube(
      'middle',
      'front-corner',
      var(--tracking),
      var(--red),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'front-right',
      var(--tracking),
      var(--green),
      var(--tracking)
    );
  }

  .u-prime.first.track-pieces {
    @include colorSepcificCube(
      'bottom',
      'front-right',
      var(--tracking),
      var(--blue),
      var(--tracking)
    );

    @include colorSepcificCube(
      'middle',
      'front-corner',
      var(--tracking),
      var(--red),
      var(--tracking)
    );
  }

  .r-prime.second.track-pieces {
    @include colorSepcificCube(
      'bottom',
      'front-right',
      var(--tracking),
      var(--red),
      var(--tracking)
    );

    @include colorSepcificCube(
      'middle',
      'right-corner',
      var(--tracking),
      var(--blue),
      var(--tracking)
    );
  }

  .u-prime.second.track-pieces {
    @include colorSepcificCube(
      'bottom',
      'front-right',
      var(--tracking),
      var(--red),
      var(--tracking)
    );

    @include colorSepcificCube(
      'middle',
      'right-corner',
      var(--tracking),
      var(--blue),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'front-left',
      var(--orange),
      var(--tracking),
      var(--tracking)
    );
  }

  .r-prime.third.track-pieces {
    @include colorSepcificCube(
      'top',
      'front-right',
      var(--tracking),
      var(--blue),
      var(--tracking)
    );

    @include colorSepcificCube(
      'middle',
      'right-corner',
      var(--tracking),
      var(--red),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'front-left',
      var(--orange),
      var(--tracking),
      var(--tracking)
    );
  }

  .u.third.track-pieces {
    @include colorSepcificCube(
      'middle',
      'right-corner',
      var(--tracking),
      var(--red),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'front-left',
      var(--blue),
      var(--tracking),
      var(--tracking)
    );
  }

  .r-prime.fourth.track-pieces {
    @include colorSepcificCube(
      'top',
      'front-right',
      var(--tracking),
      var(--red),
      var(--tracking)
    );

    @include colorSepcificCube(
      'top',
      'front-left',
      var(--blue),
      var(--tracking),
      var(--tracking)
    );
  }
}

.pll > .edges .case-no-edges {
  .opposite-edge-swap {
    .case-initial {
      @include colorSepcificCube(
        'top',
        'front-right',
        var(--tracking),
        var(--green),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-left',
        var(--red),
        var(--tracking),
        var(--tracking)
      );
    }

    .m.first.track-pieces {
      @include colorSepcificCube(
        'top',
        'front-right',
        var(--tracking),
        var(--green),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'front-left',
        var(--orange),
        var(--tracking),
        var(--tracking)
      );
    }

    .u-prime.first.track-pieces {
      @include colorSepcificCube(
        'top',
        'front-left',
        var(--blue),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'front-left',
        var(--orange),
        var(--tracking),
        var(--tracking)
      );
    }

    .m.second.track-pieces {
      @include colorSepcificCube(
        'top',
        'front-left',
        var(--red),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'front-left',
        var(--green),
        var(--tracking),
        var(--tracking)
      );
    }

    .u-prime.second.track-pieces {
      @include colorSepcificCube(
        'bottom',
        'front-left',
        var(--green),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-left',
        var(--orange),
        var(--tracking),
        var(--tracking)
      );
    }

    .m.third.track-pieces {
      @include colorSepcificCube(
        'bottom',
        'front-left',
        var(--red),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-left',
        var(--blue),
        var(--tracking),
        var(--tracking)
      );
    }

    .u-prime.third.track-pieces {
      @include colorSepcificCube(
        'bottom',
        'front-left',
        var(--red),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-right',
        var(--tracking),
        var(--blue),
        var(--tracking)
      );
    }

    .m.fourth.track-pieces {
      @include colorSepcificCube(
        'top',
        'front-left',
        var(--orange),
        var(--tracking),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-right',
        var(--tracking),
        var(--blue),
        var(--tracking)
      );
    }
  }

  .adjacent-edge-swap {
    .case-initial {
      @include colorSepcificCube(
        'top',
        'front-right',
        var(--tracking),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-left',
        var(--blue),
        var(--tracking),
        var(--tracking)
      );
    }

    .m.first.track-pieces {
      @include colorSepcificCube(
        'top',
        'front-right',
        var(--tracking),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'back-right',
        var(--tracking),
        var(--tracking),
        var(--blue)
      );
    }

    .u-prime.first.track-pieces {
      @include colorSepcificCube(
        'top',
        'back-left',
        var(--tracking),
        var(--tracking),
        var(--blue)
      );

      @include colorSepcificCube(
        'top',
        'front-left',
        var(--red),
        var(--tracking),
        var(--tracking)
      );
    }

    .m.second.track-pieces {
      @include colorSepcificCube(
        'top',
        'back-left',
        var(--tracking),
        var(--tracking),
        var(--blue)
      );

      @include colorSepcificCube(
        'top',
        'front-left',
        var(--tracking),
        var(--tracking),
        var(--green),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'front-left',
        var(--orange),
        var(--tracking),
        var(--tracking)
      );
    }

    .u-prime.second.track-pieces {
      @include colorSepcificCube(
        'top',
        'front-right',
        var(--tracking),
        var(--tracking),
        var(--green),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-left',
        var(--tracking),
        var(--tracking),
        var(--blue),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'front-left',
        var(--orange),
        var(--tracking),
        var(--tracking)
      );
    }

    .m.third.track-pieces {
      @include colorSepcificCube(
        'top',
        'front-right',
        var(--tracking),
        var(--tracking),
        var(--green),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-left',
        var(--red),
        var(--tracking),
        var(--tracking)
      );
    }

    .u-prime.third.track-pieces {
      @include colorSepcificCube(
        'top',
        'back-right',
        var(--tracking),
        var(--tracking),
        var(--green)
      );

      @include colorSepcificCube(
        'top',
        'front-right',
        var(--tracking),
        var(--red),
        var(--tracking)
      );
    }

    .m.fourth.track-pieces {
      @include colorSepcificCube(
        'top',
        'front-right',
        var(--tracking),
        var(--red),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'front-left',
        var(--blue),
        var(--tracking),
        var(--tracking)
      );
    }

    .u-prime.fourth.track-pieces {
      @include colorSepcificCube(
        'top',
        'front-right',
        var(--tracking),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'bottom',
        'front-left',
        var(--blue),
        var(--tracking),
        var(--tracking)
      );
    }

    .m.fifth.track-pieces {
      @include colorSepcificCube(
        'top',
        'front-right',
        var(--tracking),
        var(--orange),
        var(--tracking)
      );

      @include colorSepcificCube(
        'top',
        'front-left',
        var(--green),
        var(--tracking),
        var(--tracking)
      );
    }
  }
}
