@use '../scss/mixins' as *;

.home {
  margin-top: 0.25rem;
  background-color: var(--backdrop);

  padding: 4.5rem 0;
  display: grid;
  gap: 2rem;

  .title {
    text-align: center;
    display: grid;
    gap: 0.75rem;
    justify-content: center;

    p {
      max-width: 40ch;
    }
  }

  .disclaimer {
    font-size: 0.9rem;
    width: 50ch;
    justify-self: center;

    text-align: center;
    color: rgba(var(--text), 0.8);
  }

  .title {
    padding: 2rem 0 0 0;

    h1 {
      font-size: 2rem;
      font-weight: 800;
      color: var(--text);
    }
  }

  .illustration {
    margin-top: 0;

    .white-cross-cube,
    .first-two-layers-cube,
    .yellow-cube,
    .white-cross-cube.track-pieces,
    .first-two-layers-cube.track-pieces,
    .yellow-cube.track-pieces {
      width: 15rem;
    }

    .white-cross-cube.track-pieces,
    .first-two-layers-cube.track-pieces,
    .yellow-cube.track-pieces {
      @include simpleCubeColor(var(--gray), var(--gray), var(--gray));
    }

    .white-cross-cube {
      // Top Layer
      @include colorSepcificCube('top', 'left-corner', var(--blue), var(--blue), var(--yellow));

      @include colorSepcificCube('top', 'front-left', var(--red), var(--white), var(--white));
      @include colorSepcificCube('top', 'front-right', var(--white), var(--blue), var(--white));

      @include colorSepcificCube('top', 'front-corner', var(--blue), var(--red), var(--yellow));
      @include colorSepcificCube('top', 'center', var(--white), var(--white), var(--white));
      @include colorSepcificCube('top', 'back-corner', var(--orange), var(--orange), var(--orange));

      @include colorSepcificCube('top', 'back-left', var(--white), var(--white), var(--white));
      @include colorSepcificCube('top', 'back-right', var(--white), var(--white), var(--white));

      @include colorSepcificCube('top', 'right-corner', var(--yellow), var(--yellow), var(--green));

      // Middle Layer
      @include colorSepcificCube('middle', 'left-corner', var(--orange), var(--orange), var(--orange));

      @include colorSepcificCube('middle', 'front-left', var(--red), var(--red), var(--red));
      @include colorSepcificCube('middle', 'front-right', var(--blue), var(--blue), var(--blue));

      @include colorSepcificCube('middle', 'front-corner', var(--red), var(--blue), var(--white));
      @include colorSepcificCube('middle', 'right-corner', var(--yellow), var(--yellow), var(--yellow));

      // Bottom Layer
      @include colorSepcificCube('bottom', 'left-corner', var(--green), var(--green), var(--green));

      @include colorSepcificCube('bottom', 'front-left', var(--green), var(--green), var(--green));
      @include colorSepcificCube('bottom', 'front-right', var(--blue), var(--blue), var(--blue));

      @include colorSepcificCube('bottom', 'front-corner', var(--blue), var(--red), var(--white));
      @include colorSepcificCube('bottom', 'right-corner', var(--white), var(--white), var(--white));
    }

    .first-two-layers-cube {
      // Top Layer
      @include colorSepcificCube('top', 'left-corner', var(--red), var(--red), var(--green));

      @include colorSepcificCube('top', 'front-left', var(--red), var(--red), var(--yellow));
      @include colorSepcificCube('top', 'front-right', var(--blue), var(--blue), var(--yellow));

      @include colorSepcificCube('top', 'front-corner', var(--yellow), var(--orange), var(--blue));
      @include colorSepcificCube('top', 'center', var(--yellow), var(--yellow), var(--yellow));
      @include colorSepcificCube('top', 'back-corner', var(--blue), var(--blue), var(--blue));

      @include colorSepcificCube('top', 'back-left', var(--yellow), var(--yellow), var(--yellow));
      @include colorSepcificCube('top', 'back-right', var(--yellow), var(--yellow), var(--yellow));

      @include colorSepcificCube('top', 'right-corner', var(--orange), var(--orange), var(--green));
    }

    .first-two-layers-cube,
    .first-two-layers-cube.track-pieces {
      // Middle Layer
      @include colorSepcificCube('middle', 'left-corner', var(--blue), var(--blue), var(--blue));

      @include colorSepcificCube('middle', 'front-left', var(--blue), var(--blue), var(--blue));
      @include colorSepcificCube('middle', 'front-right', var(--red), var(--red), var(--red));

      @include colorSepcificCube('middle', 'front-corner', var(--blue), var(--red), var(--blue));
      @include colorSepcificCube('middle', 'right-corner', var(--red), var(--red), var(--red));

      // Bottom Layer
      @include colorSepcificCube('bottom', 'left-corner', var(--blue), var(--blue), var(--blue));

      @include colorSepcificCube('bottom', 'front-left', var(--blue), var(--blue), var(--blue));
      @include colorSepcificCube('bottom', 'front-right', var(--red), var(--red), var(--red));

      @include colorSepcificCube('bottom', 'front-corner', var(--blue), var(--red), var(--gray));
      @include colorSepcificCube('bottom', 'right-corner', var(--red), var(--red), var(--red));
    }

    .yellow-cube {
      @include simpleCubeColor(var(--blue), var(--red), var(--yellow));
    }

    .white-cross-cube.track-pieces {
      @include colorSepcificCube('top', 'center', var(--white), var(--white), var(--white));
      @include colorSepcificCube('top', 'back-left', var(--white), var(--white), var(--white));
      @include colorSepcificCube('top', 'back-right', var(--white), var(--white), var(--white));
      @include colorSepcificCube('top', 'front-left', var(--white), var(--white), var(--white));
      @include colorSepcificCube('top', 'front-right', var(--white), var(--white), var(--white));
    }

    .yellow-cube.track-pieces {
      @include colorSepcificCube('top', 'left-corner', var(--yellow), var(--yellow), var(--yellow));

      @include colorSepcificCube('top', 'front-left', var(--yellow), var(--yellow), var(--yellow));
      @include colorSepcificCube('top', 'front-right', var(--yellow), var(--yellow), var(--yellow));

      @include colorSepcificCube('top', 'front-corner', var(--yellow), var(--yellow), var(--yellow));
      @include colorSepcificCube('top', 'center', var(--yellow), var(--yellow), var(--yellow));
      @include colorSepcificCube('top', 'back-corner', var(--yellow), var(--yellow), var(--yellow));

      @include colorSepcificCube('top', 'back-left', var(--yellow), var(--yellow), var(--yellow));
      @include colorSepcificCube('top', 'back-right', var(--yellow), var(--yellow), var(--yellow));

      @include colorSepcificCube('top', 'right-corner', var(--yellow), var(--yellow), var(--yellow));
    }
  }
}
